google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
openai
opencv-python-headless
pymongo[srv]
dnspython
python-dotenv
requests
transformers
torch
torchvision
Pillow
einops
pyvips
accelerate
